<%= simple_form_for @attendance, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :youth_id %>
  <%= f.input :course_id %>
  <%= f.input :attendance_date %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                attendances_path, :class => 'btn' %>
  </div>
<% end %>
