
<div class="masthead">
	<br>
	   <%= link_to image_tag("logo.png"), root_path, :class=>' nav pull-left'%>	




<ul class="nav pull-right">

 <% if user_signed_in? %>
  
 <li>
		<%= link_to attendances_path, :class => 'btn btn-custom spacer' do %>
		Attendance <i class="icon-plus-sign"></i>
		<% end %>&nbsp; &nbsp;
    </li>

<li>

		<%= link_to youths_path, :class => 'btn btn-custom  spacer' do %>
		Youth <i class="icon-user"></i>
		<% end %>

    </li>

 <li>
		<%= link_to courses_path, :class => 'btn btn-custom spacer' do %>
		Programs <i class="icon-star"></i>
		<% end %>
		
    </li>

 
    <li>
  

		<%= link_to destroy_user_session_path, :method=>'delete', :class => 'btn btn-custom spacer' do %>
		Logout 
		<% end %>

    </li>
  <% else %>
    <li>
	<%= link_to new_user_session_path, :class => 'btn btn-custom spacer' do %>
	Login 
	<% end %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>

	<%= link_to edit_user_registration_path, :class => 'btn btn-custom spacer' do %>
	Edit account
	<% end %>

    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path,  :class => 'btn btn-custom spacer'%>
      </li>
    <% end %>
  <% else %>

  <% end %>
</ul>
</div>
